/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

body,
button,
input,
select,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
.hiddendiv,
mark,
body #infinite-handle span,
.slick-dots li button {
  color: #000;
}

button.clear-button:hover,
button.clear-button:focus,
button.clear-button:active {
  color: #000;
}

a,
a:visited,
.featured-slider h2 a:hover,
.featured-slider h2 a:focus,
.featured-slider h2 a:active,
.back-button:hover,
.back-button:focus,
.back-button:active {
  color: #000;
}

a:hover,
a:focus,
a:active {
  color: rgba(0,0,0,.5);
}

.site-footer {
  color: rgba(0,0,0,.6);
}

.search-form input::-webkit-input-placeholder {
  color: #000;
}

.search-form input:-moz-placeholder {
  color: #000;
}

.search-form input::-moz-placeholder {
  color: #000;
}

.comment-body .reply a {
  background: #000;
  color: #fff;
}

@media screen and (min-width: 1201px) {
  .post-navigation a:hover {
    color: #000;
  }
}

.header-video-wrapper {
  background: #fff;
}

.sidebar-icon i,
.dropdown-symbol:before,
.dropdown-symbol:after,
.paging-navigation .current:before,
.paging-navigation .current:after,
.right-arrow:before,
.info-toggle:before,
#comments .comment.parent > .comment-body:before,
.comment-list .comment-respond:before,
.infinite-loader:before {
  background: #000;
}

.right-arrow:after {
  border-left-color: #000;
}

.entry-content td,
.entry-content th,
.comment-content td,
.comment-content th {
  border-color: #000;
}

.main-navigation ul ul {
  border-color: rgba(0,0,0,.4);
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-color: #000;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: #000;
  color: #fff;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background: #000;
  color: #fff;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
.hiddendiv {
  border-bottom-color: #aaa;
}

select {
  border-color: #000;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #000;
}

.header-video-wrapper .wp-custom-header-video-play:before,
.header-video-wrapper .wp-custom-header-video-play:after {
  background: #fff;
}

.header-video-wrapper .wp-custom-header-video-pause:before {
  border-left-color: #fff;
}

.hoverimage strong {
  background-color: #000 !important;
  color: #fff !important;
  opacity: .8;
}

input[type="checkbox"] + label:before,
label.checkbox:before {
  background: #000;
}

input[type="checkbox"] + label:after,
label.checkbox:after {
  border-color: #000;
}

input[type="checkbox"]:checked + label:before,
label.checkbox.checked:before {
  background: #fff;
}

input[type="checkbox"]:checked + label:after,
label.checkbox.checked:after {
  background: #000;
}

input[type="radio"] + label:after,
label.radio:after {
  border-color: #000;
}

input[type="radio"]:checked + label:before,
label.radio.checked:before {
  background: #000;
}

body .widget .a-stats a {
  background: #000;
  color: #fff;
}

body .widget .a-stats a:hover {
  background: #000;
  color: #fff;
}

.widget .milestone-header {
  background-color: #000;
  color: #fff;
}

.widget .milestone-countdown,
.widget .milestone-message {
  border-color: #000;
  color: #000;
}

body #eu-cookie-law input {
  border-color: rgba(0,0,0,.2);
  color: #000;
}

body #eu-cookie-law.negative {
  background-color: #000;
  color: #fff;
}

body #eu-cookie-law input:focus,
body #eu-cookie-law input:hover {
  background: #000;
  color: #fff;
  border-color: #000;
}

body #eu-cookie-law.negative input:focus,
body #eu-cookie-law.negative input:hover {
  background: #fff;
  border-color: #fff;
  color: #000;
}

body #eu-cookie-law {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  color: #000;
}

::-moz-selection { /* Gecko Browsers */
  background: #000;
  color: #fff;
}
::selection {  /* WebKit/Blink Browsers */
  background: #000;
  color: #fff;
}