/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
  max-width: 500px;
  text-align: right;
  width: auto;
  position: fixed;
  bottom: 50px;
  right: 60px;
  z-index: 10;
}

.site-info {
  font-weight: 500;
  line-height: 18px;
}